.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;

  font-weight: 700;
}

.welcomeText {
  display: none;
}

@media screen and (min-width: 1024px) {
  .welcomeText {
    display: block;
  }
}

.button {
  padding: 5px;
}
